input{
    width:80%;
}
label{
    font-size: large;
    font-weight: bold;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}

input.ng-valid.ng-touched{
    border: 1px solid green;

}
.modal.show{
    display:block;
}
