<div class="text-center bg-light mb-5 ">
    <h1>Update an Appointment</h1>
</div>
<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-6">
            <label for="clinics" class="form-label">Clinic</label>
            <select class="form-select" formControlName="clinics" [disabled]="true" >
              <option  *ngFor="let clinic of clinics" [value]="clinic._id" [selected]="clinic._id === appointment?.clinic_id?._id">{{ clinic.clinicName }}</option>
            </select>
            <div *ngIf="appointmentForm.get('clinics')?.invalid && (appointmentForm.get('clinics')?.touched || appointmentForm.get('clinics')?.dirty)" class="invalid-feedback" style="display: block;">
              <div *ngIf="appointmentForm.get('clinics')?.errors?.['required']">Clinic is required.</div>
            </div>
        </div>
          
        <div class="form-group col-6" >
            <label for="patients" class="form-label">Patient</label>
            <select class="form-select" formControlName="patients">
                <option *ngFor="let patient of patients" [value]="patient._id"[selected]="patient._id === appointment?.patient_id?._id" disabled>{{ patient.patientData.fullName }}</option>
            </select>
            <div *ngIf="appointmentForm.get('patients')?.invalid && (appointmentForm.get('patients')?.touched || appointmentForm.get('patients')?.dirty)" class="invalid-feedback" style="display: block;">
                <div *ngIf="appointmentForm.get('patients')?.errors?.['required']">Patient is required.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6" >
            <label for="doctors" class="form-label">Doctor</label>
            <select class="form-select" formControlName="doctors"  (change)="onSelectDoctorChange()"[(ngModel)]="SelectedDoctor">
                <option *ngFor="let doctor of doctors" [value]="doctor._id" [selected]="doctor._id === appointment?.doctor_id?._id">{{ doctor.userData?.fullName }}</option>
            </select>
            <div *ngIf="appointmentForm.get('doctors')?.invalid && (appointmentForm.get('doctors')?.touched || appointmentForm.get('doctors')?.dirty)" class="invalid-feedback" style="display: block;">
                <div *ngIf="appointmentForm.get('doctors')?.errors?.['required']">Doctor is required.</div>
            </div>
        </div>
        <div class="form-group col-6" >
            <label for="employees" class="form-label">Employee</label>
            <select class="form-select" formControlName="employees">
                <option *ngFor="let employee of employees" [value]="employee._id" [selected]="employee._id === appointment?.employee_id?._id">{{ employee.employeeData.fullName }}</option>
            </select>
            <div *ngIf="appointmentForm.get('employees')?.invalid && (appointmentForm.get('employees')?.touched || appointmentForm.get('employees')?.dirty)" class="invalid-feedback" style="display: block;">
                <div *ngIf="appointmentForm.get('employees')?.errors?.['required']">Employee is required.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6" >
            <label for="clinics" class="form-label ">Dates</label>
            <select class="form-select" formControlName="date"  (change)="onSelectDateChange()" [(ngModel)]="selectedDate"s>
                <option *ngFor="let date of dates" [value]="date" [selected]="date == appointment.date">{{ date }} </option>
            </select>
            <div *ngIf="appointmentForm.get('date')?.invalid && (appointmentForm.get('date')?.touched || appointmentForm.get('date')?.dirty)" class="invalid-feedback" style="display: block;">
                <div *ngIf="appointmentForm.get('date')?.errors?.['required']">Date is required.</div>
            </div>
        </div>
        <div class="form-group col-6" >
            <label for="from" class="form-label">Time</label>
            <select class="form-select" formControlName="from">
                <option *ngFor="let time of from" [value]="time"[selected]="time == appointmentTime">{{ time }}</option>
            </select>
            <div *ngIf="appointmentForm.get('from')?.invalid && (appointmentForm.get('from')?.touched || appointmentForm.get('from')?.dirty)" class="invalid-feedback" style="display: block;">
                <div *ngIf="appointmentForm.get('from')?.errors?.['required']">Time is required.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="app-status">Status</label>
            <select class="form-select" formControlName="status">
                <ng-container *ngFor="let option of appointmentStatus">
                    <option  *ngIf="isString(option)" [value]="option">{{ option }}</option>
                </ng-container>
            </select>
            <div *ngIf="appointmentForm.get('status')?.invalid && (appointmentForm.get('status')?.touched || appointmentForm.get('status')?.dirty)" class="invalid-feedback" style="display: block;">
                <div *ngIf="appointmentForm.get('status')?.errors?.['required']">Status is required.</div>
            </div>
        </div>
        <div class="form-group col-6">
            <label for="reserve-method">Reservation Method</label>
            <select class="form-select"  formControlName="reserMethod">
                <ng-container *ngFor="let option of reserMethod">
                    <option *ngIf="isString(option)" [value]="option">{{ option }}</option>
                </ng-container>
            </select>
            <div *ngIf="appointmentForm.get('reserMethod')?.invalid && (appointmentForm.get('reserMethod')?.touched || appointmentForm.get('reserMethod')?.dirty)" class="invalid-feedback" style="display: block;">
                <div *ngIf="appointmentForm.get('reserMethod')?.errors?.['required']">ReserMethod is required.</div>
            </div>
        </div>
      </div>
    <button type="submit" [disabled]="!appointmentForm.valid" class="btn btn-primary mt-3">Submit</button>
  </form>
