<div class="container-fluid sticky-top bg-white shadow-sm">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
      <a href="#" class="navbar-brand">
        <h1 class="m-0 text-uppercase text-primary">
          <i class="fa fa-clinic-medical me-2"></i>Medinova</h1>
      </a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse">
        <span class="navbar-togger-icon"></span>
      </button>
      <div class="collapse navbar-collapse"
        id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="#" class="nav-item nav-link active">Home</a>
          <a routerLink="/doctors"  class="nav-item nav-link">doctor</a>
          <a href="#" class="nav-item nav-link">Service</a>
          <a href="#" class="nav-item nav-link">Pricing</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown">
              Pages
            </a>
            <div class="dropdown-menu m-0">
              <a href="#" class="dropdown-item">Blog Grid</a>
              <a href="#" class="dropdown-item">Blog Detail</a>
              <a href="#" class="dropdown-item">The Team</a>
            </div>
          </div>
          <a href="#" class="nav-item nav-link">Contact</a>
        </div>
        <router-outlet></router-outlet>
      </div>
    </nav>
  </div>
</div>
