<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Doctor Name</th>
        <th scope="col">Clinic Name  </th>
        <th scope="col">start </th>
        <th scope="col">to </th>
        <th>Duration</th>
        <th>Update</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>

    <!-- <tr *ngFor="let schedule of allSchedules,let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{schedule.doc_id.userData?.fullName}}</td>
        <td>{{schedule.clinic_id.clinicName}}</td>
        <td>{{schedule.from}}</td>
        <td>{{schedule.to}}</td>
        <td>{{schedule.duration_in_minutes}}</td>
        <td>
            <button class="btn btn-warning mx-3" >update</button>
        </td>
        <td>
            <button class="btn btn-warning mx-3" >Delete</button>
        </td>
      </tr>   -->
    </tbody>
  </table>