
<form [formGroup]="updatedPatientform">
  
  <label for="patientStatus">Status:</label> 
   <select formControlName="status">
    <option [value]="">First Time</option>
    <option [value]="">follow Up</option>
  </select>
  <div class="mb-3" >
    <label for="status" class="form-label">Patient Email</label>
    <input type="email"  formControlName="email" class="form-control" >
</div>
  <div class="mb-3">
      <label for="" class="form-label">History</label>
      <input type=" text" formControlName="history" class="form-control" >
  </div>
  <div class="mb-3">
      <label for="" class="form-label">Height</label>
      <input type="number" formControlName="height" class="form-control" >
  </div>
  <div class="mb-3">
      <label for="" class="form-label">weight</label>
      <input type="number" formControlName="weight" class="form-control" >
  </div>
  <div class="mb-3">
      <label for="" class="form-label">Phone</label>
      <input type="text" formControlName="phone" class="form-control" >
  </div>
<div>
  <label for="hasInsurance">hasInsurance:</label>
  <select formControlName="hasInsurance">
    <option value="true">true</option>
    <option value="false">false</option>
  </select>
  <div class="error">
    Gender is required
  </div>
</div>

<button class="btn btn-primary " (click)="Update()">UPDATE</button>
</form>



