<div class="mb-3" *ngIf="isEmployeeOrPatient">
  <a [routerLink]="['/appointment','addAppointment']" class="btn btn-primary">Reserve an appointment</a>
</div>
<table class="table mt-3 text-center" style="box-shadow:  5px 5px 5px 5px rgb(180, 212, 223);">
    <thead class="t_header" style="background-color:  rgb(180, 212, 223);">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Clinic</th>
        <th scope="col">Doctor</th>
        <th scope="col">Patient</th>
        <th scope="col">Employee</th>
        <th scope="col">Date</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Status</th>
        <th scope="col">Reservation</th>
        <th *ngIf="isEmployeeOrPatient" scope="col">Update</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody >
        <tr *ngFor="let item of appointments; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.clinic_id?.clinicName}}</td>
          <td>{{item.doctor_id?.userData?.fullName}}</td>
          <td>{{item.patient_id?.patientData?.fullName}}</td>
          <td>{{item.employee_id?.employeeData?.fullName}}</td>
          <td>{{item.date}}</td>
          <td>{{item.from | date:'HH:mm:ss'}}</td>
          <td>{{item.to | date:'HH:mm:ss'}}</td>
          <td>{{item.status}}</td>
          <td>{{item.reservation_method}}</td>
          <td *ngIf="isEmployeeOrPatient"><a [routerLink]="['/appointment','edit',item._id]" class="btn btn-primary">Update</a></td>
          <td><a [routerLink]="['/appointment','detailsAppointment',item._id]" class="btn btn-success">Details</a></td>
      </tr>
    </tbody>
  </table>
