<mat-card >
    <mat-card-header>
      <h2 class="text-primary">Add New Prescription</h2>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="newPrescriptionForm">
          <div class="row">
            <mat-form-field class="input">
                <mat-label>Diagnosis</mat-label>
                <input matInput formControlName="diagnosis" [ngClass]="{error:getControl('diagnosis')?.errors&&getControl('diagnosis')?.touched}">
              </mat-form-field> 
              <div *ngIf="getControl('diagnosis')?.errors && getControl('diagnosis')?.touched">
                <small class="text-danger" *ngIf="getControl('diagnosis')?.errors?.['required']"> Please Enter patient diagnosis </small>
              </div>
            </div>
          <div class="row">
                <mat-form-field class="col-6">
                    <mat-label>netxt Examination</mat-label>
                    <input matInput [matDatepicker]="datetimepicker" 
                                formControlName="nextExamination"   
                                [ngClass]="{error:getControl('nextExamination')?.errors&&getControl('nextExamination')?.touched}" 
                                (dateChange)="onDatetimeSelected($event)">
                    <mat-datepicker-toggle matSuffix [for]="datetimepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datetimepicker></mat-datepicker>
                </mat-form-field>
                <div *ngIf="getControl('nextExamination')?.errors && getControl('nextExamination')?.touched">
                    <small class="text-danger" *ngIf="getControl('nextExamination')?.errors?.['required']"> Please Enter next examonation Date </small>
                </div>
                <mat-form-field class="col-6">
                    <input matInput [matDatepicker]="datepicker" placeholder={{current}} value={{current}} disabled>
                    <mat-datepicker #datepicker></mat-datepicker>
                </mat-form-field>
          </div> 
          <div  class=" row "> 
            <mat-form-field appearance="fill">
              <mat-label>Select a patient name</mat-label>
                <mat-select formControlName="patient_id">
                 <mat-option *ngFor="let patient of patients" [value]="patient._id">{{patient?.patientData?.fullName}}</mat-option>
                  </mat-select>
                  </mat-form-field>
                  <div *ngIf="getControl('patient_id')?.errors && getControl('patient_id')?.touched">
                    <small class="text-danger" *ngIf="getControl('patient_id')?.errors?.['required']"> Please select patient name</small>
                </div>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>SelcetedMedicine</mat-label>
              <mat-select [formControl]="SelcetedMedicine" multiple>
                <mat-select-trigger>
                  {{SelcetedMedicine.value?.[0] || ''}}
                  <span *ngIf="(SelcetedMedicine.value?.length || 0) > 1" class="example-additional-selection">
                    (+{{(SelcetedMedicine.value?.length || 0) - 1}} {{SelcetedMedicine.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let topping of medicines " [value]="topping._id">{{topping.medicineName}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="getControl('SelcetedMedicine')?.errors && getControl('SelcetedMedicine')?.touched">
              <small class="text-danger" *ngIf="getControl('SelcetedMedicine')?.errors?.['required']"> Please select medicines </small>
            </div>
          </div>
            
        </form>

    </mat-card-content>

    <mat-action-list>
        <div class="m-3 d-flex justify-content-center " >
            <button  class="btn btn-primary px-5" (click)="onSubmit()">Add</button>
          </div>
    </mat-action-list>
</mat-card>