<div class="row ">
  <div class="col-3">
    <app-paientt-sidebar></app-paientt-sidebar>
  </div>
  <section class="body col-9  ">
    <div class="m-3  ">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-subtitle>
             <h2>{{patientFullData?.patientData?.fullName}}</h2>
             <h3>{{patientFullData?.patientData?.email}}</h3> 
             <h3>{{patientFullData?.patientData?.address?.city}} , {{patientFullData?.patientData?.address?.street}}, {{patientFullData?.patientData?.address?.building}}</h3>
          </mat-card-subtitle> 
          <img mat-card-lg-image src="../../../../assets/download (4).jpg" >
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
    </div >
    <div class="">
      <app-patient-details></app-patient-details>
    </div>
    
  </section>
  </div>
