

<div id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
  
      <li class="nav-item">
        <a class="nav-link collapsed active" href="">
          <i class="bi bi-grid"></i>
          <span>Profile</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="">
          <i class="bi bi-card-list"></i>
          <span>prescription</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Add Appointment</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="">
          <i class="bi bi-question-circle"></i>
          <span>services</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="">
          <i class="bi bi-envelope"></i>
          <span>Prescriptions</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="">
          <i class="bi bi-dash-circle"></i>
          <span>Log out</span>
        </a>
      </li>
  
    </ul>
  </div>
  
  