
.card{
    width:100%;
    padding-left: 25%;
    border: 1px solid white;
}
form{
    width:50%;
    background-color: lightgrey;
}
input{
    width:80%;
}
label{
    font-size: large;
    font-weight: bold;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}

input.ng-valid.ng-touched{
    border: 1px solid green;

}

