<a routerLink="/services/add" class="btn btn-primary">Add Service</a>

<div class="container-fluid py-5">
    <div class="container">

        <div class="row g-5">
            <div class="col-lg-4 col-md-6" *ngFor="let service of services,let i=index">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-user-md text-white"></i>
                    </div>
                    <h2 class="mb-3">{{service.name}}</h2>

                    <div class="card text-center p-1 mb-2">
                        <p><span class="font-weight-bold"><strong>Cost: </strong> </span>{{service.salary}}</p>
                    </div>

                    <div class="card text-center p-1  mb-2" >
                        <p><span class="font-weight-bold"><strong>Clinic: </strong> </span>{{service.clinic_id ? service.clinic_id.clinicName:''}}</p>
                    </div>

                    <div class="card text-center p-1">
                        <p><span class="font-weight-bold"><strong>Doctor: </strong> </span>{{service.doctor_id ? service.doctor_id.userData.fullName:""}}</p>
                    </div>

                    <a [routerLink]="['/services','details',service._id]">Details</a>
                    <a [routerLink]="['/services','edit',service._id]" (click)="service">Edit</a>


                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="deleteDialog(service._id)">
                        <i class="fa-solid fa-trash"></i></button>
                    <!-- <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>



 <!-- Delete Modal -->
 <div class="modal" tabindex="-1" id="deleteModal" [ngClass]="{'show':deleteModal}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger">Delete Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="deleteModal=false"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="delete(deletedId)">Yes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="deleteModal=false">No</button>
        </div>
      </div>
    </div>
  </div>


<!-- Edit Modal
<button (click)="show(service)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Edit</button>

<div class="modal fade" id="exampleModalCenter" [ngClass]="{'show':showModal}"
tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">
          <form [formGroup]="serviceForm"  class="form-group px-3 py-3" >
            <label for="name" class="form-label h6">Service Name</label>
            <input type='text' class="form-control mx-2" placeholder="Name"
             formControlName="name" />
    
             <label for="salary" class="form-label h6 mt-3">Service Cost</label>
             <input type='number' class="form-control mx-2" placeholder="Cost"
              formControlName="salary" />
    
              
                <label for="doctor_id" class="form-label h6 mt-3">Doctor</label>
                <select class="form-select" formControlName="doctor_id" ngDefaultControl  >
                    <option *ngFor="let doctor of doctors" [value]="doctor._id" >{{ doctor.userData?.fullName }} </option>
                </select>
                
                <label for="clinic_id" class="form-label h6 mt-3">Clinic</label>
                <select class="form-select" formControlName="clinic_id" ngDefaultControl>
                  <option *ngFor="let clinic of clinics" [value]="clinic._id">{{ clinic.clinicName }}</option>
                </select>
                
          </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-backdrop="false" (click)="showModal=false">Close</button>
        <button type="button" class="btn btn-primary" (click)="save(serviceForm)">Save changes</button>
      </div>
    </div>
  </div>
</div>
   -->

<!-- <div class="table-responsive">
    <table class="table table  text-center">
        <thead class="bg-info">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Cost</th>
                <th scope="col">Doctor</th>
                <th scope="col">Clinic</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of services,let i=index">
                <td scope="row">{{i+1}}</td>
                <td>{{service.name}}</td>
                <td>{{service.salary}}</td>
                <td>{{service.doctor_id ? service.doctor_id.userData.fullName:""}}</td>
                <td>{{service.clinic_id ? service.clinic_id.clinicName:''}}</td>
                <td>
                    <a [routerLink]="['/services','details',service._id]">Details</a>
                </td>

                 <td><button (click)="delete(service._id)">Delete</button></td>

                <td>
                    <button (click)="show(service)" class="btn btn-warning">Edit</button>

                </td>
            </tr>

        </tbody>
    </table>

-->


     <!-- <div *ngIf="editFlag">
        <input type="text" placeholder="ID" [(ngModel)]="editedService._id">
        <input type="text" placeholder="Name" [(ngModel)]="editedService.name">
        <input type="text" [(ngModel)]="editedService.salary" >
        <input type="text" [(ngModel)]="editedService.doctor_id._id" >
        <input type="text" [(ngModel)]="editedService.clinic_id._id" >

        <br>
        <button (click)="save(editedService)" class='btn btn-info mt-2' >Save</button>


    </div> -->
<!--
</div>
<br> -->
<!-- <a routerLink="/services/add">Add Service</a> -->