<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span>Welcome</span>
    <a routerLink="" style="color: white;" class="mx-3">Home</a>
    <!-- <a routerLink="/doctors" style="color: white;" class="mx-3">doctor</a> -->
    <a routerLink="/employee/details/:id" style="color: white;" class="mx-3">Profile</a>
    <a routerLink="/patients" style="color: white;" class="mx-3">patient</a>
    <a routerLink="/appointment" style="color: white;" class="mx-3">appointment</a>
    <a routerLink="/login" style="color: white;">Logout</a>
  </div>
  
  <div class="content" style="width: 100%;display: block;" role="main">
    <router-outlet></router-outlet>
  
  </div>