
<div class="contianer-fluid py-2 border-bottom d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-lg-start">
        <div class="d-inline-flex align-items-center">
          <a href=""
            class="text-decoration-none text-body pe-3">
            <i class="bi bi-telephone me-2">01063463156</i>
          </a>
          <span class="text-body">|</span>
          <a href=""
            class="text-decoration-none text-body px-3">
            <i class="bi bi-envelope me-2">test@gmail.com</i>
          </a>
        </div>
      </div>
      <div class="col-lg-6  text-lg-end">
        <div class="d-inline-flex align-items-center">
          <a href="" class="text-body px-2">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="" class="text-body px-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-body px-2">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="" class="text-body px-2">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-body px-2">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
