  
<div class="m-auto">
  <mat-card class="example-card">
    <mat-card-header class="text-primary">
      <mat-card-title>Patient Data</mat-card-title>
      <mat-card-subtitle>{{patient?.patientData?.fullName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row m-1 p-1 border" >
        <div class="col-3 col-md-4 label text-secondary">Phone</div>
        <div class="col-9 col-md-8">{{patient?.phone}}</div>
      </div>
      <div class="row m-1 p-1 border ">
        <div class="col-3 col-md-4 label text-secondary">Email</div>
        <div class="col-9 col-md-8">{{patient?.patientData?.email}}</div>
      </div>
      <div class="row m-1 p-1 border">
        <div class="col-3 col-md-4 label text-secondary">Address</div>
        <div class="col-9 col-md-8">{{patient?.patientData?.address?.city}}, {{patient?.patientData?.address?.street}},{{patient?.patientData?.address?.building}}</div>
      </div>
      <div class="row m-1 p-1 border">
        <div class="col-3 col-md-4 label text-secondary">Age</div>
        <div class="col-9 col-md-8">{{patient?.patientData?.age}}</div>
      </div>
      <div class="row m-1 p-1 border">
        <div class="col-3 col-md-4 label text-secondary">Gender</div>
        <div class="col-9 col-md-8">{{patient?.patientData?.gender}}</div>
      </div>
      <div class="row m-1 p-1 border">
        <div class="col-3 col-md-4 label text-secondary">Status</div>
        <div class="col-9 col-md-8">{{patient?.status}}</div>
      </div>
      <div class="row m-1 p-1 border">
        <div class="col-3 col-md-4 label text-secondary">History</div>
        <div class="col-9 col-md-8">{{patient?.history}}</div>
      </div>
      <div class="row m-1 p-1 border">
        <div class="col-3 col-md-4 label text-secondary">Height</div>
        <div class="col-9 col-md-8">{{patient?.height}}</div>
      </div>
      <div class="row m-1 p-1 border">
        <div class="col-3 col-md-4 label text-secondary">weight</div>
        <div class="col-9 col-md-8">{{patient?.weight}}</div>
      </div>
      <div class="row m-1 border">
        <div class="col-3 col-md-4 label text-secondary">Has Insurace</div>
        <div class="col-9 col-md-8">{{patient?.hasInsurance}}</div>
      </div>

    </mat-card-content>
    <mat-card-actions class="m-3 d-flex justify-content-center " >
      <button mat-button class="btn btn-primary" routerLink="/patients">Back</button>
    </mat-card-actions>
  </mat-card>

</div>
<