<!-- <p>service-list works!</p> -->
<div class="table-responsive">
    <table class="table table-primary text-center">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Cost</th>
                <th scope="col">Doctor</th>
                <th scope="col">Clinic</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of services">
                <td scope="row">{{service._id}}</td>
                <td>{{service.name}}</td>
                <td>{{service.salary}}</td>
                <td>{{service.doctor_id ? service.doctor_id.userData.fullName:""}}</td>
                <td>{{service.clinic_id ? service.clinic_id.clinicName:''}}</td>
                <td>
                    <a [routerLink]="['/services','details',service._id]">Details</a>
                </td>

                <td><button (click)="delete(service._id)">Delete</button></td>

                <td>
                    <button (click)="show(service)" class="btn btn-warning">Edit</button>

                </td>
            </tr>
            
        </tbody>
    </table>

    <div *ngIf="editFlag">
        <input type="text" placeholder="ID" [(ngModel)]="editedService._id">
        <input type="text" placeholder="Name" [(ngModel)]="editedService.name">
        <input type="text" [(ngModel)]="editedService.salary" >
        <input type="text" [(ngModel)]="editedService.doctor_id._id" >
        <input type="text" [(ngModel)]="editedService.clinic_id._id" >

        <br>
        <button (click)="save(editedService)" class='btn btn-info mt-2' >Save</button>
        

    </div>

</div>
<br>
<a routerLink="/services/add">Add Service</a>