
<div class="m-3 d-flex justify-content-center row">
    <h2 class="text-primary col6"> Patients Data</h2>
    <div class="col-4">
        <a mat-raised-button color="primary"  routerLink="/patients/add">Add Patient</a>
    </div>
</div>

<div class="table-responsiv">
    <table mat-table [dataSource]="Allpatients" class="mat-elevation-z8 demo-table" Class="table table-striped">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let patient">{{patient.patientData?.fullName}}</td>
        </ng-container>
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let patient">{{patient.status}}</td>
        </ng-container>
        <ng-container matColumnDef="History">
            <th mat-header-cell *matHeaderCellDef>History</th>
            <td mat-cell *matCellDef="let patient">{{patient.history}}</td>
        </ng-container>
        <ng-container matColumnDef="Phone">
            <th mat-header-cell *matHeaderCellDef>phone</th>
            <td mat-cell *matCellDef="let patient">{{patient.phone}}</td>
        </ng-container>
        <ng-container matColumnDef="Details">
            <th mat-header-cell *matHeaderCellDef>Details</th>
            <td mat-cell *matCellDef="let patient">
                <a mat-raised-button color="primary" class="col-2" (click)="showPatientDetails(patient._id)" >Details</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="Update">
            <th mat-header-cell *matHeaderCellDef>Update</th>
            <td mat-cell *matCellDef="let patient">
                <a mat-raised-button color="primary" class="col-2" (click)="UpdatePatientData(patient._id)" >Update</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let patient">
                <a mat-raised-button color="warn" class="col-2" (click)="DeletePatient(patient._id)" >Delete</a>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    
        <tr mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    
    
</div>
