<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-6" >
            <label for="clinics" class="form-label">Clinic</label>
            <select class="form-select" formControlName="clinics">
                <option *ngFor="let clinic of clinics" [value]="clinic._id">{{ clinic.clinicName }}</option>
            </select>
        </div>
        <div class="form-group col-6" >
            <label for="patients" class="form-label">Patient</label>
            <select class="form-select" formControlName="patients">
                <option *ngFor="let patient of patients" [value]="patient._id">{{ patient.patientData.fullName }}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6" >
            <label for="doctors" class="form-label">Doctor</label>
            <select class="form-select" formControlName="doctors">
                <option *ngFor="let doctor of doctors" [value]="doctor._id">{{ doctor.userData?.fullName }}</option>
            </select>
        </div>
        <div class="form-group col-6" >
            <label for="employees" class="form-label">Employee</label>
            <select class="form-select" formControlName="employees">
                <option *ngFor="let employee of employees" [value]="employee._id">{{ employee.employeeData.fullName }}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="date" class="form-label">Date</label>
            <input type="date" name="date" class="form-control" formControlName="date">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="from" class="form-label">From</label>
            <input type="time" name="from" class="form-control" formControlName="from">
        </div>
        <div class="form-group col-6">
            <label for="from" class="form-label">To</label>
            <input type="time" name="to" class="form-control" formControlName="to">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="app-status">Status</label>
            <select class="form-select" formControlName="status">
                <ng-container *ngFor="let option of appointmentStatus">
                    <option  *ngIf="isString(option)" [value]="option">{{ option }}</option>
                </ng-container>
            </select>
        </div>
        
        <div class="form-group col-6">
            <label for="reserve-method">Reservation Method</label>
            <select class="form-select"  formControlName="reserMethod">
                <ng-container *ngFor="let option of reserMethod">
                    <option *ngIf="isString(option)" [value]="option">{{ option }}</option>
                </ng-container>
            </select>
        </div>
      </div>



    <button type="submit" [disabled]="!appointmentForm.valid" class="btn btn-primary mt-3">Submit</button>
  </form>
