
<div class="mb-3">
  <a [routerLink]="['/doctors','add']" *ngIf="isAdmin" class="btn btn-success">Add Doctor </a>
</div>
<div class="mt-3 row justify-content-center" >
  <table class="table mt-3 text-center" style="box-shadow:  5px 5px 5px 5px rgb(180, 212, 223);">
    <thead class="t_header" style="background-color:  rgb(180, 212, 223);">
      <tr>
        <th scope="col">FullName</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Address </th>
        <th scope="col">Gender</th>
        <th scope="col">Specialization</th>
        <th scope="col">Price</th>
        <!-- <th scope="col" *ngIf="isDoctor" >Details</th> -->
        <th scope="col" *ngIf="isDoctorOrAdmin" >Update </th>
        <!-- <th scope="col">Delete</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctors">
        <td>{{doctor.userData?.fullName}}</td>
        <td>{{doctor.userData?.age}}</td>
        <td>{{doctor.userData?.email}}</td>
        <td>{{doctor.userData?.address?.city +", " +doctor.userData?.address?.street  +", " + doctor.userData?.address?.building}}</td>
        <td>{{doctor.userData?.gender}}</td>
        <td>{{doctor.specialization}}</td>
        <td>{{doctor.price}}</td>

        <!-- <td> <a [routerLink]="['/doctors', 'details',doctor._id]" *ngIf="isDoctor" class="btn btn-success">Details</a> </td> -->
        <td> <a [routerLink]="['/doctors', 'edit', doctor._id]" *ngIf="isDoctorOrAdmin" class="btn btn-primary">Update</a> </td>
        <!-- <td>
          <button class="btn btn-danger" (click)="alertToDelte(doctor._id)">Delete</button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
